.filter-btn {
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
  text-transform: capitalize;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3);
}

.active {
  border: 1px solid white;
  border-radius: 0;
  color: white;
}