---
const { info } = Astro.props;
---

<section id="about">
    <fieldset class="content-info">
        <legend>{info.welcome}</legend>
        <div class="info">
            <h1>{info.name}</h1>
            <h2>{info.area}</h2>
            <p>{info.about}</p>
            <p class="hero-social-media">
                Check Out My<a
                    href="https://github.com/farfandavid"
                    target="_blank"
                    rel="noopener noreferrer"><i class="bi bi-github"></i></a
                ><a
                    href="https://www.linkedin.com/in/david-dante-farfan/"
                    target="_blank"
                    rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a
                ><a
                    href="mailto: farfandavid34@gmail.com"
                    target="_blank"
                    rel="noopener noreferrer"><i class="bi bi-envelope"></i></a
                >
            </p>
        </div>
    </fieldset>
    <img src="assets/img/profile.png" alt="" />
</section>
<style>
    /**
	 * About
	*/

    #about {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding-top: var(--navbar-height);
        background: url(/assets/img/bg.jpg) no-repeat center center/cover;
    }
    #about img {
        width: 30%;
        background: #2e2e5267;
        border-radius: 50%;
        backdrop-filter: blur(14px);
        -webkit-backdrop-filter: blur(5px) brightness(0.5);
        box-shadow: 0 0px 50px rgba(134, 134, 134, 0.3);
        animation: bright 2s infinite alternate;
        min-width: 234px;
    }

    @keyframes bright {
        0% {
            backdrop-filter: blur(14px) brightness(1);
        }
        100% {
            backdrop-filter: blur(14px) brightness(2);
        }
    }
    #about .content-info {
        display: flex;
        flex-direction: column;
        width: 35%;
        min-width: 350px;
        padding: 0 0;
        border: none;
    }

    #about .content-info legend {
        margin: 0 0 -0.6rem 10px;
        z-index: 2;
        backdrop-filter: blur(12.4px);
    }
    #about .info {
        display: flex;
        flex-direction: column;
        min-width: 350px;
        padding: 1rem;
        background: #27272767;
        box-shadow: 0 4px 30px rgba(80, 80, 80, 0.3);
        backdrop-filter: blur(12.4px);
        -webkit-backdrop-filter: blur(12.4px);
        justify-content: center;
        align-items: start;
        animation: bright 2s infinite alternate;
        border: 1px solid white;
    }

    .info a {
        color: white;
        text-decoration: none;
        margin: 0 0.5rem;
        font-size: 1.5rem;
    }

    .info h1 {
        margin-bottom: 0;
        font-weight: bolder;
        font-size: 1.8rem;
    }

    .info h2 {
        margin-top: 0.8rem;
    }

    @media screen and (max-width: 627px) {
        #about {
            flex-direction: column-reverse;
        }
    }
</style>
