<header id="navbar" class="navbar">
    <div class="navbar-top">
        <a href="#">
            <span class=""
                ><img src="/assets/img/farfetchdev_logo.png" alt="" />
            </span>
        </a>
        <button id="button-nav">
            <!--?xml version="1.0" encoding="UTF-8"?-->
            <svg
                id="menu-icon"
                width="40px"
                height="40px"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                color="#000000"
                ><path
                    d="M6 9L12 15L18 9"
                    stroke="#fff"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
            >
        </button>
    </div>
    <nav id="nav-id">
        <a href="#">Home</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="/service">Services</a>
        <a href="#contact">Contact</a>
    </nav>
    <style>
        .navbar {
            display: flex;
            position: fixed;
            top: 0;
            width: 100%;
            padding: 20px;
            height: 68px;
            z-index: 1000;
            transition: height 0.3s;
            overflow-y: hidden;
        }

        .navbar div a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 1.1rem;
        }

        .navbar div a img {
            height: 40px;
        }

        .navbar-top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .navbar nav a {
            margin: 0 10px;
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 1.1rem;
        }
        .navbar nav a:hover {
            color: #fff;
            text-shadow: 0 0 5px white;
            transform: scale(1.2);
            transition: transform 0.2s;
        }
        .navbar div button {
            display: none;
            background: none;
            border: none;
            cursor: pointer;
        }

        .navbar div button:hover {
            color: #fff;
            text-shadow: 0 0 5px white;
            transform: scale(1.2);
            transition: transform 0.2s;
        }
        @media (hover: hover) and (pointer: course) {
            color: #fff;
            text-shadow: 0 0 5px white;
            transform: scale(1.2);
            transition: transform 0.2s;
        }

        @media screen and (max-width: 627px) {
            .navbar {
                flex-direction: column;
                align-items: center;
                justify-content: start !important;
            }

            .nav-active {
                height: 100vh !important;
                background-color: #1b1b32ad;
                transition: height 0.5s;
            }
            nav {
                display: flex !important;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;
                width: 100%;
            }

            .navbar nav a {
                font-size: 1.5rem;
                margin-top: 10% !important;
                border-bottom: 1px solid white;
                width: 100%;
                text-align: center;
            }

            .navbar div button {
                display: block;
            }
            #button-nav {
                display: block;
            }
            .menu-icon {
                transform: rotate(180deg);
                transition: transform 0.5s;
            }
        }
    </style>
    <script>
        const button = document.getElementById("button-nav");
        const nav = document.getElementById("nav-id");
        const navbar = document.getElementById("navbar");
        const menuIcon = document.getElementById("menu-icon");

        button.addEventListener("click", () => {
            navbar.classList.contains("nav-active")
                ? navbar.classList.remove("nav-active")
                : navbar.classList.add("nav-active");
            nav.style.display = nav.style.display === "none" ? "none" : "flex";
            menuIcon.classList.contains("menu-icon")
                ? menuIcon.classList.remove("menu-icon")
                : menuIcon.classList.add("menu-icon");
        });
    </script>
</header>
