---
import Chart from "./Chart/Chart";
---

<section id="skills">
    <div class="center-x title"><h1>Skills</h1></div>
    <div class="tools">
        <fieldset>
            <legend>Front-End</legend>
            <i class="devicon-html5-plain colored"></i>
            <i class="devicon-css3-plain colored"></i>
            <i class="devicon-javascript-plain colored"></i>
            <i class="devicon-react-original colored"></i>
            <i class="devicon-tailwindcss-original colored"></i>
        </fieldset>
        <fieldset>
            <legend>Back-End</legend>
            <i class="devicon-nodejs-plain colored"></i>
            <i class="devicon-nextjs-original"></i>
            <i class="devicon-mongodb-plain colored"></i>
            <i class="devicon-express-original"></i>
            <i class="devicon-python-plain colored"></i>
            <i class="devicon-fastapi-plain colored"></i>
            <i class="devicon-axios-plain"></i>
        </fieldset>
        <fieldset>
            <legend>Tools</legend>
            <i class="devicon-docker-plain colored"></i>
            <i class="devicon-linux-plain"></i>
            <i class="devicon-github-original"></i>
            <i class="devicon-vscode-plain colored"></i>
        </fieldset>
        <fieldset>
            <legend>Others</legend>
            <i class="devicon-figma-plain colored"></i>

            <i class="devicon-wordpress-plain"></i>

            <i class="devicon-unifiedmodelinglanguage-plain"></i>

            <i class="devicon-githubactions-plain"></i>

            <i class="devicon-notion-plain colored"></i>

            <i class="devicon-trello-plain colored"></i>
        </fieldset>
    </div>
    <div class="center-x title"><h1>Soft Skills</h1></div>
    <div class="soft-skills">
        <div>
            Teamwork <progress id="file" value="100" max="100"> </progress>
        </div>
        <div>
            Leadership <progress id="file" value="90" max="100"> </progress>
        </div>
        <div>
            Problem Solving <progress id="file" value="90" max="100">
            </progress>
        </div>
        <div>
            Creativity <progress id="file" value="70" max="100"> </progress>
        </div>
        <div>
            Communication <progress id="file" value="70" max="100"> </progress>
        </div>
        <div>
            Adaptability <progress id="file" value="80" max="100"> </progress>
        </div>
    </div>
</section>
<style>
    #skills {
        color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #skills .tools {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
    }

    #skills .tools i {
        font-size: 3rem;
    }

    #skills {
        position: relative;
    }

    .soft-skills {
        display: flex;
        width: 80%;
        height: auto;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .soft-skills > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 45%;
        max-height: 60px;
        gap: 1rem;
        justify-content: space-between;
        font-weight: bold;
        font-size: x-large;
    }

    progress {
        border-radius: 0;
        width: 70%;
    }
    progress::-webkit-progress-bar {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid white;
        border-radius: 0;
    }
    progress::-webkit-progress-value {
        background-color: #4f4fd3;
        border-radius: 0;
    }
    progress::-moz-progress-bar {
        /* style rules */
    }

    @media screen and (width <= 627px) {
        #skills .tools {
            padding: 0rem;
        }
        #skills .tools i {
            font-size: 1.2rem;
        }
        .soft-skills {
            display: flex;
            width: 95%;
            height: auto;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        .soft-skills > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 1rem;
            justify-content: space-between;
            font-weight: bold;
            font-size: large;
        }
        progress {
            border-radius: 0;
            width: 100%;
        }
    }
</style>
<script></script>
