---
import Chart from "./Chart/Chart";
---

<section id="skills">
    <div class="center-x title"><h1>Skills</h1></div>
    <div class="tools">
        <fieldset>
            <legend>Front-End</legend>
            <i class="devicon-html5-plain colored"></i>
            <i class="devicon-css3-plain colored"></i>
            <i class="devicon-javascript-plain colored"></i>
            <i class="devicon-react-original colored"></i>
            <i class="devicon-tailwindcss-original colored"></i>
        </fieldset>
        <fieldset>
            <legend>Back-End</legend>
            <i class="devicon-nodejs-plain colored"></i>
            <i class="devicon-nextjs-original"></i>
            <i class="devicon-mongodb-plain colored"></i>
            <i class="devicon-express-original"></i>
            <i class="devicon-python-plain colored"></i>
            <i class="devicon-fastapi-plain colored"></i>
            <i class="devicon-axios-plain"></i>
        </fieldset>
        <fieldset>
            <legend>Tools</legend>
            <i class="devicon-docker-plain colored"></i>
            <i class="devicon-linux-plain"></i>
            <i class="devicon-github-original"></i>
            <i class="devicon-vscode-plain colored"></i>
        </fieldset>
        <fieldset>
            <legend>Others</legend>
            <i class="devicon-figma-plain colored"></i>

            <i class="devicon-wordpress-plain"></i>

            <i class="devicon-unifiedmodelinglanguage-plain"></i>

            <i class="devicon-githubactions-plain"></i>

            <i class="devicon-notion-plain colored"></i>

            <i class="devicon-trello-plain colored"></i>
        </fieldset>
    </div>
    <Chart client:only />
</section>
<style>
    #skills {
        color: white;
        display: flex;
        flex-direction: column;
    }

    #skills .tools {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
    }

    #skills .tools i {
        font-size: 3rem;
    }

    #skills {
        position: relative;
    }

    canvas {
        background-color: aliceblue;
    }

    @media screen and (width <= 627px) {
        #skills .tools {
            padding: 0rem;
        }
        #skills .tools i {
            font-size: 1.2rem;
        }
    }
</style>
<script></script>
