---
interface Props {
    softSkill: string;
    percentage: number;
    color: string;
}

const { softSkill, percentage, color } = Astro.props;
const classWitdh = "w-[";
---

<div class="flex flex-row items-center">
    <p class="flex-1 w-1/4 font-bold">{softSkill}</p>
    <div class="w-3/4 flex items-center h-5 gap-1 bg-slate-500 rounded-md overflow-hidden relative">
        <div class={`${color} h-full rounded-md`} style={`width: ${percentage}%;`} ></div>
        <p class="font-bold absolute -translate-x-1/2 left-1/2">{percentage}%</p>
    </div>
</div>