.filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.project-section {
  padding: 0 20px;
}

.projects-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}


.colored[data-text="#reactjs"] {
  color: #61dafb;
}

.colored[data-text="#javascript"] {
  color: #f0db4f;
}

.colored[data-text="#nodejs"] {
  color: #68a063;
}

.colored[data-text="#mongodb"] {
  color: #13aa52;
}

.colored[data-text="#expressjs"] {
  color: #fff;
}

.colored[data-text="#html"] {
  color: #e34c26;
}

.colored[data-text="#css"] {
  color: #264de4;
}

.colored[data-text="#astro"] {
  color: orangered;
}

.colored[data-text="#python"] {
  color: #1983da;
}

.colored[data-text="#js"] {
  color: #f0db4f;
}